.contador {
  min-width: 200px;
  height: 200px;
  font-size: 90px;
  padding: 25px;
  color: rgb(249, 127, 249);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid rgb(254, 170, 198);
  margin-bottom: 15px;
}
